body {
  background-color: beige;
}

h2,form,button {
  display: inline-block;
}

input {
  width: 200px;
  height: 25px;
}

button {
  width: 60px;
  padding: 6px;
}

.guessNumber h2 {
  margin: 0px;
  font-weight: 400;
}

.resultBoard .gameResult {
  font-size: 1em;
  font-weight: 400;
}

.resultBoard .gameInfo {
  font-size: 1.5em;
  font-weight: 600;
}
